# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Data & Models (Do not commit large datasets or weights)
data/raw/
models/
notebooks/*.pkl
notebooks/*.csv
notebooks/*.txt
notebooks/mlflow.db

# Virtual Environments
venv/
.venv/
env/

# IDE / Editors
.vscode/
.idea/

# Environment Variables
.env

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs & MLflow
*.log
mlruns/
